html{
  min-height:100%;
  width:100%;
}

body{
  width:100%;
  min-height: 100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: monospace;
}

.header{
  height:80px;
  width:100%;
  position:absolute;
  top:0;
  display:flex;
  flex-direction: row;
  background-color:#1c3738;
  color: #ffffff;
}

#scrap-out-tag{
height: 100%;
width: 200px;
}

.link-container{
  margin-right:50px;
  position: relative;
  left:55%;
}

#home,
#account,
#logout{
display:inline-block;
margin:30px 20px 50px 0;
font-size:1rem;
font-family:monospace;
font-weight: bold;
}

#home{
  margin-right:40px;
}

#logout{
  margin-left: 30px;
  padding:8px 15px 8px 15px;
  background-color: #D86997;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
}
/*
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
*/

.container-list{
  width:100%;
  position: absolute;
  top:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4f7eb;
}

.boxes{
  width: 60%;
}

.search-bar{
width: 100%;
display: flex;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px;
}

.search-box{
  width: 80%;
  height: 20px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: F4FFF8;
  color: #a9a9a9;
  outline: none;
}

.search-btn{
  width: 16%;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #1C3738;/*1C3738*/
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder{
  color: #a9a9a9;
}
.sort-box-wrapper{
display: flex;
flex-direction: row;
width: 100%;
margin-top: 10px;
}
.sort-tools{
display: flex;
flex-direction: column;
width: 20%;
background-color: #2a5657;
color: #F4FFF8;
border-radius: 5px;
margin:0 10px 10px 10px;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
padding: 5px 20px;
}
.sort-tools ul{
list-style: none;
margin: 0;
padding: 0;
line-height: 2.5em;
float: left;
}
.box-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
#heading{
  color: #1C3738;
  font-weight: bolder;
}
#order-heading{
  height: 1px;
  margin-top: -2%;
  background: #2f5a5c;
  margin-bottom: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*
.box-head{
  display: flex;
  height: fit-content;
  align-items: flex-start;
  
  background: #092a2bec;
  color: #fff;
  border-radius: 5px;
  margin:0 0 10px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
}*/
#orders-to-be-conifrmed-heading,#conifrmed-orders-heading{
  margin-bottom: 10px;
}
.not-confirmed-orders{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
  color: #1C3738;
  background: #ffffff;
  border-radius: 5px;
  margin:0 0 10px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
}
.confirmed-orders{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
  color: #1C3738;
  background: #ffffff;
  border-radius: 5px;
  margin:0 0 10px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
}

.orders{
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #1C3738;
  background: #e4f7eb;
  border-radius: 5px;
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);*/
  padding: 5px 20px;
  margin: 10px;
}
.user-details-wrapper{
  display: flex;
  flex-direction: column;
  
}

#username,#products-heading,#total-price-heading{
  font-weight: bold;
  font-size: large;
}

#date{
  font-weight: bold;
}
.product-details{
  
  list-style: none;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

.user-details{
  list-style: none;
  line-height: 2em;
  margin: 0;
  padding: 0;
  
}

.accept-decline-buttons{
  margin: 5px;
  display: flex;
  align-items: center;
}

#accept-button{
  padding:5px 10px;
  border-radius: 5px;
  outline:none;
  width:70px;
  background-color: #1c3738;
  color: #D5F0DF;
  margin: 10px;

}
#deny-button{
  padding:5px 10px;
  border-radius: 5px;
  outline:none;
  width:70px;
  background-color:#38251c;
  color: #D5F0DF;
  margin: 10px;

}