*{
    margin:0;
    padding:0;
    font-family: sans-serif;
  }
  .bg{
    height:100%;
    width:100%;
    background-color: #e4f7eb; 
    position: absolute;
    font-family: monospace;
  }
  .header{
    height:80px;
    width:100%;
    position:absolute;
    top:0;
    display:flex;
    flex-direction: row;
    background-color:#1c3738;
    color: #ffffff;
  }

 #scrap-out-tag{
  height: 100%;
  width: 200px;
 }

  .link-container{
    margin-right:50px;
    position: relative;
    left:55%;
  }

#home,
#account,
#logout{
  display:inline-block;
  margin:30px 20px 50px 0;
  font-size:1rem;
  font-family:monospace;
  font-weight: bold;
}

#home{
    margin-right:40px;
}
  
#logout{
    margin-left: 30px;
    padding:8px 15px 8px 15px;
    background-color: #D86997;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}
  #accept-btn{
    padding:5px 10px;
    border-radius: 30px;
    outline:none;
    width:70px;
    background-color: #1c3738;
    color: #D5F0DF;
  
  
  }
  #deny-btn{
    padding:5px 10px;
    border-radius: 30px;
    outline:none;
    width:70px;
    background-color:#38251c;
    color: #D5F0DF;
  
  }
  .container-list{
    width:100%;
    position: absolute;
    top:80px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5F0DF;
  }
  
  .boxes{
      width: 60%;
  }
    
  .search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .search-box{
      width: 80%;
      height: 100%;
      padding: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid #d1d1d1;
      text-transform: capitalize;
      background: F4FFF8;
      color: #a9a9a9;
      outline: none;
  }
  
  .search-btn{
      width: 16%;
      height: 40px;
      padding: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      background: #1C3738;
      color: #fff;
      text-transform: capitalize;
      font-size: 15px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  
  .search-box::placeholder{
      color: #a9a9a9;
  }
  .sort-box-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }
  .sort-tools{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #1c3738;
    color: #F4FFF8;
    border-radius: 5px;
    margin:0 10px 10px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
  }
  .sort-tools ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    float: left;
  }
    .box-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
    }
    #heading{
      margin-bottom: 4px;
      color: #1C3738;
      font-weight: bolder;
    }
    #acnt-head{
      height: 1px;
      margin-top: -1%;
      background: #2f5a5c;
      margin-bottom: 3%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .box{
      display: flex;
      height: fit-content;
      align-items: flex-start;
      width: 100%;
      background: #ffffff;
      color: #1C3738;
      border-radius: 5px;
      margin:0 0 10px 0;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
      padding: 5px 20px;
      min-height: 650px;
    }
    .box ul{
      list-style: none;
      line-height: 2em;
      float: left;
    }
    .smallbox{
      display: flex;
      height: fit-content;
      align-items: flex-start;
      width: 100%;
      
      background: #f4fff8;
      color: #1C3738;
      border-radius: 5px;
      margin:0 0 10px 0;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
      padding: 5px 20px;
    }
    .smallbox img{
      float: left;
      width: 180px;
      height: 90%;
      margin-top: 10px;
      border-radius: 2px;
      position:relative;
    }
    .smallbox ul{
      list-style: none;
      line-height: 2em;
      float: left;
    }
    .shop-details{
      width: 90%;
    }