html{
    min-height:100%;
    width:100%;
  }
  
  body{
    width:100%;
    min-height: 100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #e4f7eb;
  }
  
  .header{
    height:80px;
    width:100%;
    position:absolute;
    top:0;
    display:flex;
    flex-direction: row;
    background-color:#1c3738;
    color: #ffffff;
  }

  #scrapout-tag{
    margin-right:auto;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bolder;
    margin:20px auto 40px 70px;
  }

  .link-container{
    margin-right:50px;
    position: relative;
    left:55%;
  }

#home,
#account,
#logout{
  display:inline-block;
  margin:30px 20px 50px 0;
  font-size:1rem;
  font-family:monospace;
  font-weight: bold;
}

#home{
    margin-right:40px;
}
  
#logout{
    margin-left: 30px;
    padding:8px 15px 8px 15px;
    background-color: #D86997;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}
/*--------------*/

/*Positioning*/
.container-wrapper{
    width:100%;
    height:100%;
    background-color:transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }

  .cart-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-wrapper{
    /*border: 2px solid rgb(255, 0, 212);*/
    position: relative;
    top: 120px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-details,.placeOrder-container{
    /*border: 2px solid rgb(192, 243, 151);*/
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .product-text{
    width: 50%;
    position: relative;
    left: 60px;;
  }

  .price-container{
    width: 40%;
    height: 25%;
    align-self: center;
    /*float: right;*/
    position: relative;
    left: 150px;
  }

  .cart-details{
    float: left;
    margin-left: 5%;
    /*border: 2px solid rgb(56, 52, 12);*/
  }

  .placeOrder-container{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #1c3738;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(87, 70, 70, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  input{
    padding: 2px 10px 2px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: 0;
  }

/*img styling*/

.container-img{
    width: 100px;
    height: 100px;
    position: relative;
    left:30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
  }
  
img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius:10px;
  }

  /*Button styling*/
  .button-container{
    width: 40%;
    height: 25%;
    align-self: center;
    position: relative;
    left: 100px;
  }

  .button-cart{
    width: 10rem;
    height: 2rem;
    float: right;
    position: relative;
    left: 150px;
    background:  #D86997;
    color: #ffffff;
    border: 0;
    outline:none;
    border-radius: 10px;
  }
  

  #confirmOrder-container{
    left: 2px;
  }