*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.bg{
  height:100%;
  width:100%;
  background-color: #1C3738; 
  position: absolute;
}
.formbox{
  width:380px;
  height:400px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
  background-color: rgb(229, 245, 235); 
  border-radius: 30px;
}
.button-box{
  width:380px;
  height:400px;


 /* box-shadow: 0 0 20px 9px #1C3738;*/
  border-radius: 30px;
  
}
.usubmit-btn{
  width: 40%;
  padding: 10px 30px;
  display: block;
  position: center;
  border:0;
  
  margin: 135px 100px 45px 100px;
  background:  #D86997;
  outline:none;
  border-radius: 30px;

}
.csubmit-btn{
  width: 40%;
  padding: 10px 30px;
  display: block;
  margin: 45px 100px 135px 100px;
  background: #F2C14E;
  border: 0;
  outline:none;
  border-radius: 30px;

}